@font-face {
    font-family: 'IranSans';
    src:  
         url('/fonts/IranSans.woff') format('woff');
    /* Add additional font formats if necessary */
    /* Add font-weight and font-style properties if needed */
  }
  
  *{
    font-family: 'IranSans' serif;
  }