@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-small: 12px;
  --card-shadow-2: 0 2px 12px 0 var(--card-shadow);
  --card-shadow-3: 0 2px 6px 0 var(--card-shadow);
  --text-color: #404040;
  --text-medium: 14px;
  --seperator-color: #e6e6e6;
  --font-medium: 500;
  --primary-color: #ff00a4;
  --font-regular: 400;
  --text-color-light: #a3a3a3;
  --dark-bilbao-color: rgba(63, 126, 0, 0.08);
  --starcolor-default: #305d02;

  



}

 

 