.card {
  color: black;
  position: relative;
  background: white;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  //overflow: hidden;
  > header,
  > div {
    flex: 1;
  }

  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-shadow: none !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --animation-time: 600ms;
  --animation-long-time: 1s;
  --bg-main-color: #fff;
  --bg-error-color: #fcf6f7;
  --disabled-bg-color: #f9f9f9;
  --disabled-text: #13141f;
  --primary-color: #ff00a4;
  --shop-primary-color: #b400a4;
  --similar-list-background: #f8f9fb;
  --text-color: #404040;
  --text-white: #fff;
  --text-green: #22a958;
  --text-black: #000000;
  --text-green-rgb: 34, 169, 88;
  --input-color: #cbcbcb;
  --text-color-light: #a3a3a3;
  --text-color-light-2: #a2a2a2;
  --text-icon-color: #f2f2f2;
  --carbon-light: #53565c;
  --filter-icon-color: #8c8c8c;
  --seperator-color: #e6e6e6;
  --divider-color: #ececec;
  --border-color: #f4f5f7;
  --border-color-light: #cccc;
  --card-border-color: #f2f2f2;
  --cat-border-color: #e3e3e4;
  --highlight-color: #3478f6;
  --error-color: #bd272d;
  --landing-color: #f5f3ff;
  --landing-header-color: #6616d0;
  --landing-shadow-color: #d8d0ff;
  --primary-light: #ffe0f4;
  --primary-lighten: #ffecf3;
  --yellow-light: #fff4e4;
  --text-xxx-small: 7px;
  --text-xx-small: 8px;
  --text-x-md-small: 9.1px;
  --text-x-small: 10px;
  --text-x-mid-small: 11px;
  --text-x-avr-small: 11.2px;
  --text-small: 12px;
  --text-medium: 14px;
  --text-size: 16px;
  --text-large: 17px;
  --text-m-large: 18px;
  --text-x-large: 20px;
  --text-xx-large: 22px;
  --text-xxx-large: 24px;
  --text-xxxx-large: 32px;
  --nav-size: 48px;
  --shell-margin-bottom: 56px;
  --font-ultraLight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-bolder: 700;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-shadow-1: 0 2px 8px 0 var(--card-shadow);
  --vendors-card-shadow: rgba(64, 64, 64, 0.12);
  --card-shadow-2: 0 2px 12px 0 var(--card-shadow);
  --card-shadow-3: 0 2px 6px 0 var(--card-shadow);
  --ribbon-shadow: 0 2px 15px 0 rgba(39, 43, 51, 0.1);
  --shadow-sm: 0px 1px 6px rgba(0, 0, 0, 0.12);
  --new_ads-shadow: 0px 4px 8px rgba(79, 94, 113, 0.1),
    0px 2px 4px rgba(79, 94, 113, 0.11), 0px 0px 2px rgba(79, 94, 113, 0.12);
  --danger-color: red;
  --black-color: #353535;
  --white-color: #fff;
  --dark-blue: #2850a7;
  --green-color: #00d170;
  --white-green-color: #f2faf5;
  --verdun-green-color: #305d02;
  --light-verdun-color: rgba(48, 93, 2, 0.08);
  --bilbao-green-color: #3f7e00;
  --dark-bilbao-color: rgba(63, 126, 0, 0.08);
  --limeade-green-color: #5ba829;
  --light-limeade-color: rgba(91, 168, 41, 0.08);
  --yellow-green-color: #9acd32;
  --light-yellow-green-color: rgba(154, 205, 50, 0.08);
  --Barbery-color: #cdd614;
  --light-Barbery-color: rgba(205, 214, 20, 0.08);
  --selective-yellow-color: #ffba00;
  --light-selective-yellow-color: rgba(255, 186, 0, 0.08);
  --safety-orange-color: #ff7800;
  --light-safety-orange-color: rgba(255, 120, 0, 0.08);
  --scarlet-color: #ff2717;
  --light-scarlet-color: rgba(255, 39, 23, 0.08);
  --venetian-red-color: #c10914;
  --light-venetian-color: rgba(193, 9, 20, 0.08);
  --forest-green-color: #2a9134;
  --gray-color: #505050;
  --gray-dark-color: #383838;
  --gray-light-dark-color: #7a7a7a;
  --gray-light-color: #979797;
  --gray-lighter-color: #c7c7c7;
  --gray-lightest-color: #f4f3f3;
  --gray-back-color: #f3f5f9;
  --gray-skeleton-color: #e2e2e2;
  --services-background-color: #f3f5f9;
  --new-services-background-color: rgba(19, 20, 31, 0.05);
  --primary-deep-green: #22a958;
  --silver-color: #868686;
  --sea-blue-color: #78b6de;
  --light-blue-color: #008efa;
  --red-color: #f13224;
  --lipstick: #aa004e;
  --seperator: 1px solid var(--seperator-color);
  --border: 1px solid var(--border-color);
  --card-border: 1px solid var(--card-border-color);
  --card-border-light: 1px solid var(--card-bg);
  --cat-border: 1px solid var(--cat-border-color);
  --light-gray: #f8f9fb;
  --light-orange: rgba(255, 143, 44, 0.1);
  --shocking-pink: #ff00a4;
  --mango: #ff8f2c;
  --yellow: #ffdd00;
  --alpha-yellow: rgba(248, 214, 72, 0.06);
  --yellow-secondary: #f8d648;
  --mustard: #b400af;
  --border-ecommerce: #cdc5f2;
  --white-smoke-color: #f6f6f6;
  --gray-smoke-color: #f2f2f2;
  --light-green-color: #f4fbf7;
  --heart-red: #ff4232;
  --alpha-deep-green: rgba(34, 169, 88, 0.06);
  --alpha-red: rgba(189, 39, 45, 0.04);
  --alpha-ash-grey: #a3a3a3;
  --alpha-carbon-grey: rgba(64, 64, 64, 0.04);
  --alpha-carbon: rgba(64, 64, 64, 0.6);
  --alpha-carbon-light: rgb(83, 86, 92, 0.6);
  --alpha-green: rgba(34, 169, 88, 0.04);
  --alpha-primary: rgba(255, 0, 164, 0.06);
  --alpha-grey: rgba(19, 20, 31, 0.34);
  --card-bg: rgba(64, 64, 64, 0.04);
  --border-carbon-grey: rgba(64, 64, 64, 0.1);
  --green-badge: #3f7e00;
  --secondary-blue-color: #001fbb;
  --secondary-red: #bd272d;
  --starcolor-default: #305d02;
  --starcolor-45: #3f7e00;
  --starcolor-40: #5ba839;
  --starcolor-35: #9acd32;
  --starcolor-30: #cdd614;
  --starcolor-25: #ffba00;
  --starcolor-20: #ff7800;
  --starcolor-15: #ff2717;
  --starcolor-10: #c10914;
  --surface-light-mode: #040a1fde;
  --on-surface-light-mode: #616475;
  --on-surface-high-mode: #1a1c23;
  --on-surface-light-mode-40: #616475;
  --green-light-mode-transparent-10: rgba(34, 169, 88, 0.1);
  --green-light-mode: #22a958;
  --light-mode-ssecondary: #575eff;
  --red-background-subscription: #ff3859;
  --search-box-background: rgba(19, 20, 31, 0.05);
  --search-box-icons: rgba(83, 86, 92, 0.7);
  --new-skeleton-gradient: linear-gradient(
    42.21deg,
    rgba(18, 25, 33, 0.2) 0%,
    rgba(18, 25, 33, 0) 100%
  );
  --shadow-neutral-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 56.25%,
    rgba(0, 0, 0, 0) 100%
  );
  --toaster-root-middle-bottom: 100px;
  --banner-downloadApp-height: 0px;
  font-family: "iransans";
  font-size: var(--text-small);
  --header-size: 162px;
  color: inherit;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  user-select: none;
  display: block;
  --img-size: 130px;
  height: 248px;
  max-width: 567px;
  min-width: min(calc(100% - 4px), 260px);
  background-color: var(--white-color);
  direction: rtl;
  border-radius: 6px;
  border: solid 0.5px var(--seperator-color);
  box-shadow: var(--card-shadow-2);
  --card-size: 100%;
}
.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1);

  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-shadow: none !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --animation-time: 600ms;
  --animation-long-time: 1s;
  --bg-main-color: #fff;
  --bg-error-color: #fcf6f7;
  --disabled-bg-color: #f9f9f9;
  --disabled-text: #13141f;
  --primary-color: #ff00a4;
  --shop-primary-color: #b400a4;
  --similar-list-background: #f8f9fb;
  --text-color: #404040;
  --text-white: #fff;
  --text-green: #22a958;
  --text-black: #000000;
  --text-green-rgb: 34, 169, 88;
  --input-color: #cbcbcb;
  --text-color-light: #a3a3a3;
  --text-color-light-2: #a2a2a2;
  --text-icon-color: #f2f2f2;
  --carbon-light: #53565c;
  --filter-icon-color: #8c8c8c;
  --seperator-color: #e6e6e6;
  --divider-color: #ececec;
  --border-color: #f4f5f7;
  --border-color-light: #cccc;
  --card-border-color: #f2f2f2;
  --cat-border-color: #e3e3e4;
  --highlight-color: #3478f6;
  --error-color: #bd272d;
  --landing-color: #f5f3ff;
  --landing-header-color: #6616d0;
  --landing-shadow-color: #d8d0ff;
  --primary-light: #ffe0f4;
  --primary-lighten: #ffecf3;
  --yellow-light: #fff4e4;
  --text-xxx-small: 7px;
  --text-xx-small: 8px;
  --text-x-md-small: 9.1px;
  --text-x-small: 10px;
  --text-x-mid-small: 11px;
  --text-x-avr-small: 11.2px;
  --text-small: 12px;
  --text-medium: 14px;
  --text-size: 16px;
  --text-large: 17px;
  --text-m-large: 18px;
  --text-x-large: 20px;
  --text-xx-large: 22px;
  --text-xxx-large: 24px;
  --text-xxxx-large: 32px;
  --nav-size: 48px;
  --shell-margin-bottom: 56px;
  --font-ultraLight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-bolder: 700;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-shadow-1: 0 2px 8px 0 var(--card-shadow);
  --vendors-card-shadow: rgba(64, 64, 64, 0.12);
  --card-shadow-2: 0 2px 12px 0 var(--card-shadow);
  --card-shadow-3: 0 2px 6px 0 var(--card-shadow);
  --ribbon-shadow: 0 2px 15px 0 rgba(39, 43, 51, 0.1);
  --shadow-sm: 0px 1px 6px rgba(0, 0, 0, 0.12);
  --new_ads-shadow: 0px 4px 8px rgba(79, 94, 113, 0.1),
    0px 2px 4px rgba(79, 94, 113, 0.11), 0px 0px 2px rgba(79, 94, 113, 0.12);
  --danger-color: red;
  --black-color: #353535;
  --white-color: #fff;
  --dark-blue: #2850a7;
  --green-color: #00d170;
  --white-green-color: #f2faf5;
  --verdun-green-color: #305d02;
  --light-verdun-color: rgba(48, 93, 2, 0.08);
  --bilbao-green-color: #3f7e00;
  --dark-bilbao-color: rgba(63, 126, 0, 0.08);
  --limeade-green-color: #5ba829;
  --light-limeade-color: rgba(91, 168, 41, 0.08);
  --yellow-green-color: #9acd32;
  --light-yellow-green-color: rgba(154, 205, 50, 0.08);
  --Barbery-color: #cdd614;
  --light-Barbery-color: rgba(205, 214, 20, 0.08);
  --selective-yellow-color: #ffba00;
  --light-selective-yellow-color: rgba(255, 186, 0, 0.08);
  --safety-orange-color: #ff7800;
  --light-safety-orange-color: rgba(255, 120, 0, 0.08);
  --scarlet-color: #ff2717;
  --light-scarlet-color: rgba(255, 39, 23, 0.08);
  --venetian-red-color: #c10914;
  --light-venetian-color: rgba(193, 9, 20, 0.08);
  --forest-green-color: #2a9134;
  --gray-color: #505050;
  --gray-dark-color: #383838;
  --gray-light-dark-color: #7a7a7a;
  --gray-light-color: #979797;
  --gray-lighter-color: #c7c7c7;
  --gray-lightest-color: #f4f3f3;
  --gray-back-color: #f3f5f9;
  --gray-skeleton-color: #e2e2e2;
  --services-background-color: #f3f5f9;
  --new-services-background-color: rgba(19, 20, 31, 0.05);
  --primary-deep-green: #22a958;
  --silver-color: #868686;
  --sea-blue-color: #78b6de;
  --light-blue-color: #008efa;
  --red-color: #f13224;
  --lipstick: #aa004e;
  --seperator: 1px solid var(--seperator-color);
  --border: 1px solid var(--border-color);
  --card-border: 1px solid var(--card-border-color);
  --card-border-light: 1px solid var(--card-bg);
  --cat-border: 1px solid var(--cat-border-color);
  --light-gray: #f8f9fb;
  --light-orange: rgba(255, 143, 44, 0.1);
  --shocking-pink: #ff00a4;
  --mango: #ff8f2c;
  --yellow: #ffdd00;
  --alpha-yellow: rgba(248, 214, 72, 0.06);
  --yellow-secondary: #f8d648;
  --mustard: #b400af;
  --border-ecommerce: #cdc5f2;
  --white-smoke-color: #f6f6f6;
  --gray-smoke-color: #f2f2f2;
  --light-green-color: #f4fbf7;
  --heart-red: #ff4232;
  --alpha-deep-green: rgba(34, 169, 88, 0.06);
  --alpha-red: rgba(189, 39, 45, 0.04);
  --alpha-ash-grey: #a3a3a3;
  --alpha-carbon-grey: rgba(64, 64, 64, 0.04);
  --alpha-carbon: rgba(64, 64, 64, 0.6);
  --alpha-carbon-light: rgb(83, 86, 92, 0.6);
  --alpha-green: rgba(34, 169, 88, 0.04);
  --alpha-primary: rgba(255, 0, 164, 0.06);
  --alpha-grey: rgba(19, 20, 31, 0.34);
  --card-bg: rgba(64, 64, 64, 0.04);
  --border-carbon-grey: rgba(64, 64, 64, 0.1);
  --green-badge: #3f7e00;
  --secondary-blue-color: #001fbb;
  --secondary-red: #bd272d;
  --starcolor-default: #305d02;
  --starcolor-45: #3f7e00;
  --starcolor-40: #5ba839;
  --starcolor-35: #9acd32;
  --starcolor-30: #cdd614;
  --starcolor-25: #ffba00;
  --starcolor-20: #ff7800;
  --starcolor-15: #ff2717;
  --starcolor-10: #c10914;
  --surface-light-mode: #040a1fde;
  --on-surface-light-mode: #616475;
  --on-surface-high-mode: #1a1c23;
  --on-surface-light-mode-40: #616475;
  --green-light-mode-transparent-10: rgba(34, 169, 88, 0.1);
  --green-light-mode: #22a958;
  --light-mode-ssecondary: #575eff;
  --red-background-subscription: #ff3859;
  --search-box-background: rgba(19, 20, 31, 0.05);
  --search-box-icons: rgba(83, 86, 92, 0.7);
  --new-skeleton-gradient: linear-gradient(
    42.21deg,
    rgba(18, 25, 33, 0.2) 0%,
    rgba(18, 25, 33, 0) 100%
  );
  --shadow-neutral-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 56.25%,
    rgba(0, 0, 0, 0) 100%
  );
  --toaster-root-middle-bottom: 100px;
  --banner-downloadApp-height: 0px;
  font-family: "iransans";
  font-size: var(--text-small);
  --header-size: 162px;
  color: inherit;
  -webkit-box-direction: normal;
  --img-size: 130px;
  direction: rtl;
  --card-size: 100%;
  box-sizing: inherit;
  user-select: none;
  position: absolute;
  bottom: -16px;
  right: 8px;
  width: 64px;
  height: 64px;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: var(--card-shadow-3);
}

.details {
  padding: 40px 16px 8px 16px;
  overflow: unset;
}

.header {
  overflow: hidden;
  height: 50%;
}

.restaurantInfo,
.restaurantName,
.restaurantCategory,
.restaurantScore,
.restaurantScore > div {
  display: flex;
  justify-content: space-between;
}
