.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100vh;

  a {
    border-radius: 6px;
    padding: 5px 10px;
    border: 1px solid black;
  }
}
